﻿@model WebApplication1.Models.BookAllotRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookAllotRecord</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookAllotedID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
