﻿@model IEnumerable<WebApplication1.Models.BookAllotRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StudentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookAllotedID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookAllotedID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookAllotedID })
        </td>
    </tr>
}

</table>
