﻿<H1>Assignment - Library Management System</H1>
<br/>
<br/>
<br/>
<a href="~/Students/Index">1- View Students</a>
<br />
<a href="~/Students/Create">2- Add Student</a>
<br />
<a href="~/Books/Index">3- View Books</a><br />
<a href="~/Students/Create">4- Add Book</a><br />
<a href="~/BookAlotted/Create">4- Allot Book to Student</a><br />